mlflow:
  artifactRoot:
    s3:
      enabled: true
      bucket: "mlsecops-mlflow-artifacts"

  backendStore:
    database:
      uri: sqlite:///mlflow.db

  service:
    type: ClusterIP
    port: 5000

  resources:
    requests:
      cpu: 200m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
